.rcarousel {
	margin: 0;
	padding: 0;
}

.rcarousel .wrapper {
	height: 300px;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative;
	width: 500px
}

.rcarousel .wrapper ul li a img {
	border: 0;
	display: block;
}

.rcarousel .wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 9999px;
}

.rcarousel .wrapper ul li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	/*padding: 10px;*/
}

.ui-rcarousel-loader {
    background: url(../img/loader.gif) no-repeat center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}