body {
	/*background: url(line.png) repeat;*/
	font: 16px/1.5 'Droid Sans', sans-serif;
	width: 900px;
	margin: 0 auto;
}

h1 {
	font-size: 64px;
	margin-bottom: 48px;
}

h2 {
	font-size: 40px;
	margin-bottom: 36px;

}

h3 {
	font-size: 24px;
	margin-bottom: 36px;
}

p {
	margin-bottom: 24px;
}

ul {
	margin-bottom: 24px;
}

ol {
	margin-bottom: 24px;
	list-style: decimal;
}

a[href]:link {
	color: #FF5C43;
}

a[href]:visited {
	color: #FF2019;
}

a[href]:hover {
	color: #FF2019
}

a[href]:active {
	color: #FF2019
}

pre {
	font-family: 'Droid Sans Mono', monospace;
	background-color: #E5E5E5;
	margin-bottom: 24px;
}

code {
	font-family: 'Droid Sans Mono', monospace;
}

strong {
	font-weight: bold;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	margin-bottom: 22px;
}

thead {
	background-color: #E5E5E5;
}

tr:nth-child(2n) {
	background-color: #E5E5E5;
}

th, td {
	text-align: center;
	vertical-align: middle;
}

td {
	border-right: 1px solid;
	padding: 24px 5px;
}