body {
	font: 16px/1.5 sans-serif;

}

#header {
	background-color: #FF5C43;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

#content {
	margin: 20px;
}

h1 {
	font-size: 2em;
	margin-bottom: 30px;
}

a:link, a:visited, a:hover, a:active {
	color: #fff;
}

#content a:link, #content a:visited, #content a:hover, #content a:active {
	color: #ff5c43;
}

em {
	font-style: italic;
}