#ui-lightbox, #ui-lightbox-panorama-icon, #ui-lightbox-content-container,
#ui-lightbox-content, #ui-lightbox-content > *, #ui-lightbox-arrow,
#ui-lightbox-arrow > span, #ui-lightbox-bottombar, #ui-lightbox-title-wrapper,
#ui-lightbox-title, #ui-lightbox-bottombar-bottom, #ui-lightbox-button-prev,
#ui-lightbox-button-prev > span, #ui-lightbox-counter, #ui-lightbox-button-next,
#ui-lightbox-button-next > span, #ui-lightbox-button-close,
#ui-lightbox-button-close > span, #ui-lightbox-map, #ui-lightbox-map-viewport,
#ui-lightbox-overlay {
	margin: 0;
	padding: 0;
}

#ui-lightbox {
	font-size: 62.5%;
	padding: 5px;
	position: fixed;
	z-index: 9999;
	width: auto;
	height: auto;
}

#ui-lightbox-content-container {
    position: relative;
}

#ui-lightbox-content {
	border: 0;
	position: relative;
	width: 20px;
	height: 20px;
}

#ui-lightbox-content > * {
	display: block;
	position: absolute;
	z-index: 100;
}

#ui-lightbox-arrow {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	z-index: 101;   
}

.ui-lightbox-arrow-next {
	border-right: 0;
	right: 0;
}

.ui-lightbox-arrow-prev {
	border-left: 0;
	left: 0;
}

#ui-lightbox-panorama-icon {
	cursor: pointer;
	height: 32px;
	left: 20px;
	width: 32px;
	position: absolute;
	top: 20px;
	z-index: 110;
}

.ui-lightbox-panorama-icon-expand {
	background: url(panorama.png) top left no-repeat;
}

.ui-lightbox-panorama-icon-expand-hover {
	background: url(panorama.png) bottom left no-repeat;
}

.ui-lightbox-panorama-icon-shrink {
	background: url(panorama.png) top right no-repeat;
}

.ui-lightbox-panorama-icon-shrink-hover {
	background: url(panorama.png) bottom right no-repeat;
}

.ui-lightbox-loader {
	background: url(loader.gif) center center no-repeat;
}

#ui-lightbox-bottombar {
	margin-top: 5px;
	padding: 5px;
	height: 40px;
	position: relative;
}

#ui-lightbox-bottombar > p {
	margin-right: 20px;
	height: 20px;
	line-height: 20px;
}

#ui-lightbox-bottombar-bottom {
	text-align: left;
}

#ui-lightbox-title-wrapper {
	font-size: 14px;
	height: 20px;
	overflow: hidden;
	text-align: left;
}

#ui-lightbox-counter {
	font-size: 9px;
	line-height: 20px;
	vertical-align: middle;
}

#ui-lightbox-separator {
    line-height: 20px;
    padding: 0 2px;
    vertical-align: middle;
}

#ui-lightbox-button-prev, #ui-lightbox-button-next, #ui-lightbox-button-play {
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
}

#ui-lightbox-button-close {
	line-height: 20px;
	position: absolute;
	top: 17px;
	right: 5px;
}

.ui-lightbox-button {
	cursor: pointer;
}

.ui-lightbox-button.ui-state-highlight {
	border-style: none;
	background: none;
}

#ui-lightbox-map {
	background-color: black;
	border: 1px solid white;
	filter:Alpha(Opacity=20);
	height: 100px;
	opacity: .30;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 150px;
	z-index: 10000;
}

#ui-lightbox-map-viewport {
	border: 1px solid white;
	left: -1px; /*prevent from overlapping the map border*/
	position: absolute;
	top: -1px; /*prevent from overlapping the map border*/
}

#ui-lightbox-overlay {
	border: 0;
	position: fixed;
}

#ui-lightbox-error {
	background: url(error_bg.png) repeat left top;
}

#ui-lightbox-error-message {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 21px;
	padding-top: 274px;
	text-align: center;
}

#ui-lightbox-error-footer {
	text-align: center;
}

#ui-lightbox-error-footer > button {
	margin-right: 15px;
}

.ui-lightbox-error-icon-sign {
	background: url(error_sign.png) no-repeat center 226px;	    
}